<ion-view title="" hide-nav-bar="true">
  <ion-content>
    <div class="text-center logo-container vertical-mid-container">
      <div class="vertical-mid-inner" ng-click="goAuth()">
        <img src="img/logo.png" class="full-image logo-image">
        <div class="startup-container">
          <p class="app-desc">10 Minutes</p>
          <p class="app-title">COUPON</p>
          <div class="app-start-icon">
            <i class="icon ion-ios-arrow-right"></i>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
