<ion-modal-view>
  <ion-header-bar class="bar-google-plus bar-dark">
    <h1 class="title">Google Plus</h1>
  </ion-header-bar>
  <ion-content class="auth-social-login-modal">
    <div class="auth-container">
      <div class="auth-social-login-logo">
        <div class="auth-social-login-logo-img">
          <img src="img/logo.png" class="text-center full-image">
        </div>
      </div>
      <div class="auth-social-login-modal-desc">
        <p>Log into your Google Plus</p>
        <p>account to connect to</p>
        <p>10 Minutes Coupon</p>
      </div>
      <div class="input-group">
        <div class="app-form-input app-from-input-top">
          <input type="email" placeholder="Email or Phone">
        </div>
        <div class="app-form-input app-from-input-bottom">
          <input type="password" placeholder="Google Plus Password">
        </div>
      </div>
      <div class="modal-social-login-btn">
        <button class="button app-button auth-submit-btn app-social-google-plus-button" ng-click="goGooglePlusLogin()">Log In</button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
